//  Table of Contents:
//
//   1. Mixins
//   2. Global
//   3. Typography
//   4. Buttons
//   5. Animations
//   6. Navigation
//   7. Lightgallery
//   8. Sections
//   9. Section One
//   10. Section Two
//   11. Section Three
//   12. Footer


// 1. Mixins
// ---------


@mixin links ($link, $hover) {
  a {
    color: $link;
    &:hover {
      color: $hover;   
    }
  }
}

@mixin link-underline($color, $size, $duration, $centered) {
  color: $color;
  display: inline-block;
  position: relative;
  text-decoration: none;
  
  &:before {
    background-color: $color;
    content: '';
    height: $size;
    position: absolute;
    bottom: 0 - ($size/2);
    transition: $duration;
    width: 0;
    @if $centered == 'true' {
      left: 50%;
      transform: translateX(-50%); 
    }
  }
  
  &:hover {
    &:before {
      width: 100%;
    }
  }
}

// 2. Global
// ---------

body {
  cursor: default;
}

svg {
  max-width: 100%;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

::selection {
  background: $primary-color;
  color: $secondary-color;
}

:focus {
  outline: 0;
}

// 3. Typography
// -------------

a {
  transition: $primary-transition;
}

a:hover {
  color: $color--highlight;
}

.underline {
  padding-bottom: 0.25rem;
  border-bottom: 1px $black solid;
  &:hover {
    border-bottom: 1px transparent solid;
  }
}

.uppercase {
  text-transform: uppercase;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

h1 {
  font-family: $secondary-font-family;
  line-height: 1;
}

.active {
  padding-bottom: 0.25rem;
  border-bottom: 1px $black solid;
  &:hover {
    border-bottom: 1px transparent solid;
  }
}

// 4. Buttons
// ----------

.button--gradient {
  @include button;
  @include button-style(#D536A3, #7F5090, #FFFFFF);
  border: 0px solid transparent;
  transition: 0.5s;
  background-size: 200% auto;
  background-image: linear-gradient(to left, #D536A3 0%, #7F5090 100%);
  text-transform: uppercase;
  letter-spacing: $letter-spacing--loose;
 }
 
 .button--gradient:hover {
  background-position: right center;
  border: 0px solid transparent;
}
  

// 5. Animations
// -------------

[data-aos='fade-up'] {
  transform: translate(0, 1rem);
}

// 6. Navigation
// -------------

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  padding: 2rem 1rem 1rem 1rem;
  @include breakpoint(medium) {
    padding: 2rem 2rem 1rem 2rem;
  }
  @include breakpoint(large) {
    padding: 2rem 2rem 1rem 2rem;
  }
}

.navigation-new {
  background-color: transparent;
  transition: $primary-transition;
  padding: 2rem 1rem 1rem 1rem;
  @include breakpoint(medium) {
    padding: 2rem 2rem 1rem 2rem;
  }
  @include breakpoint(large) {
    padding: 2rem 2rem 1rem 2rem;
  }
}

.navigation-new.is-stuck {
  background-color: rgba($color--dark-blue, 0.85);
}

.navigation__logo {
  font-size: 1.75rem;
}

.navigation__logo img {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  vertical-align: baseline;
}

// 7. Lightgallery
// ---------------

.lg-sub-html {
  font-family: $header-font-family;
}


// 7. Projects
// ----------

.projects__list a {
  display: block;
  width: 100%;
  position: relative; 
}
    
.projects__list a:hover img {
  filter: saturate(0%) brightness(50%); 
}
    
.projects__list a img {
  transition: $primary-transition;
  display: block;
}

.projects__list a .item__title {
  position: absolute;
  top: 0rem;
  left: 0rem;
  padding: 2rem;
  color: $white;
  font-family: $secondary-font-family;
  font-size: 3rem;
  line-height: 1;
}

// 8. Sections
// -----------

section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

// 9. Section One
// --------------

// 10. Section Two
// ---------------

.section-two {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-position: right bottom;
}

.section-two__content {
  padding-top: 3rem;
  padding-bottom: 5rem;
}

// 11. Section Three
// -----------------

.section-three {
  position: relative;
}

.section-three video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}


// 12. Footer
// ---------


// X. Home
// ------

.info__map {
  @include breakpoint(small) {
  height: 15rem;
  }
  @include breakpoint(medium) { 
  height: 30rem;
  }
}