---
layout: default
---

<!-- One -->
<section>

      <div class="grid-container">
        <div class="grid-x grid-padding-x grid-padding-y align-center">
          <div class="small-12 medium-12 large-10 cell" data-aos="fade-in">
              <h1>Our ambition is to invent businesses that get the world talking</h1>
          </div>
        </div>
        
        <div class="grid-x grid-padding-x">
          <div class="small-11 medium-6 large-6 large-offset-4  cell" data-aos="fade-in">
              <h3>We’re an innovation partner for brands that want to invent or grow disruptive businesses</h3>
          </div>
        </div>
      </div>
    
</section>
<!-- End One -->


<!-- Two -->
<section>

      <div class="grid-container">
        <div class="grid-x grid-padding-x grid-padding-y align-center">
          <div class="small-12 medium-10 cell" data-aos="fade-in">
              <h1>Everything we invent is designed to deliver three simple objectives.</h1>
          </div>
        </div>
        
        <div class="grid-x grid-padding-x">
          <div class="small-11 medium-6 large-6 large-offset-4  cell" data-aos="fade-in">
            <ul class="vertical menu">
              <li>
              <h3>Revenue</h3>
              <h4>Something people are willing to invest in.</h4>
              </li>
              
              <li>
              <h3>Shareability</h3>
              <h4>Earns word of mouth and organic growth.</h4>
              </li>
              
              <li>
              <h3>Longevity</h3>
              <h4>Built to have lasting cultural relevance.</h4>
              </li>
            </ul>
          </div>
        </div>
      </div>
    
</section>
<!-- End Two -->


<!-- Three -->
<section>

      <div class="grid-container">
        <div class="grid-x grid-padding-x grid-padding-y align-center">
          <div class="small-12 medium-10 cell" data-aos="fade-in">
              <h1>Innovation is a team game</h1>
          </div>
        </div>
        
        <div class="grid-x grid-padding-x">
          <div class="small-11 medium-6 large-6 large-offset-4  cell" data-aos="fade-in">
              <h3>Our team of inventors work from a studio in Paddington, London, alongside clients, industry experts and commercial partners. We also invest in our own ideas and apply the learnings to the businesses we invent with our clients.</h3>
          </div>
        </div>
      </div>
    
</section>
<!-- End Three -->


<!-- Three -->
<section>

      <div class="grid-container">
        <div class="grid-x grid-padding-x grid-padding-y align-center">
          <div class="small-12 medium-10 cell" data-aos="fade-in">
              <h1>Select Cases</h1>
          </div>
        </div>
        
        <div class="grid-x grid-padding-x">
          <div class="small-11 medium-6 large-6 large-offset-4  cell" data-aos="fade-in">

            <ul class="vertical menu">
              <li>
              <h3>Revenue</h3>
              <h4>Something people are willing to invest in.</h4>
              </li>
              
              <li>
              <h3>Shareability</h3>
              <h4>Earns word of mouth and organic growth.</h4>
              </li>
              
              <li>
              <h3>Longevity</h3>
              <h4>Built to have lasting cultural relevance.</h4>
              </li>
            </ul>

          </div>
        </div>
      </div>
    
</section>
<!-- End Three -->